@using Microsoft.AspNetCore.Http

@{
    string lang = Context.Session.GetString("language") ?? "en"; ;
    string language = lang == "ar-Pl" ? "ar" : "en";
    string dir = lang == "ar-Pl" ? "rtl" : "ltr";

}

<!DOCTYPE html>
<html lang="@language" dir="@dir">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Commerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link id="pagestyle" href="~/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>
<body class="bg-gray-200" dir="@dir">
    <main class="main-content  mt-0">


                 @RenderBody()
    </main>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets//js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
